services:
  backend:
    # build: ./backend/
    image: carbon_fibre-backend
    container_name: carbonfibre-backend
    # for inspecting backend
    ports:
      - "8000:8000"
    # # for GPU access
    # deploy:
    #   resources:
    #     reservations:
    #       devices:
    #         - driver: nvidia
    #           count: all
    #           capabilities: [gpu]
    env_file:
      - ./backend/.env
    depends_on:
      - postgres
      - redis
    volumes:
      - ./backend/:/app/
    networks:
      - carbonfibre
    restart: unless-stopped
    command: bash
    # CMD ["uvicorn", "app.main:app", "--host", "0.0.0.0", "--port", "8000"]

  worker:
    build: ./backend/
    # image: carbon_fibre-backend
    container_name: carbonfibre-worker
    env_file:
      - ./backend/.env
    networks:
      - carbonfibre
    restart: unless-stopped
    depends_on:
      - postgres
      - redis
    # command: celery -A app.workers.celery_app worker --loglevel=info

  postgres:
    image: postgres:15
    container_name: carbonfibre-postgres
    environment:
      - POSTGRES_USER=carbon_fibre
      - POSTGRES_PASSWORD=johnwick
      - POSTGRES_DB=lamina
    volumes:
      - pgdata:/var/lib/postgresql/data
    networks:
      - carbonfibre

  redis:
    image: redis:7
    container_name: carbonfibre-redis
    networks:
      - carbonfibre

  # synthetic:
  #   build: ./data/
  #   profiles:
  #     - ["synthetic"]
    # command: python\
  


networks:
  carbonfibre:
    driver: bridge

volumes:
  pgdata:
